[submodule "jshook-skill"]
	path = jshook-skill
	url = https://github.com/wuji66dde/jshook-skill.git
[submodule "reverse-skill"]
	path = reverse-skill
	url = https://github.com/715494637/reverse-skill.git
